@import "pschool_theme.scss";
@import "addons.scss";


// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in registrator_theme.scss

.pschool_theme {
  @include addons;
  @include pschool_theme;
  @include fonticons;

  
  .ps-header
  {
    font-size: 1.5em;
    border-bottom: gray solid 3px;
    background-color: black;
    color: white;
/*    position: fixed;*/
      
  }
  
  .ps-footer
  {
    font-size: 1.5em;
    border-top: gray solid 3px;
    background-color: black;
    color: white;
    position: fixed;

    left: 0;
    right: 0;
    bottom: 0;
      
  }
  
  .ps-header-logo
  {
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .ps-specific-regcounter
  {
    font-size: 1em;
    font-style: italic;
    margin-left: 1em;
    margin-right: 1em;
  }
}
